::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  border: 6px solid rgba(255, 255, 255, 0);
  box-shadow: 16px 16px 0 #6abd66 inset;
}

::-webkit-scrollbar-thumb:hover {
  box-shadow: 16px 16px 0 #deac47 inset;
}

::-webkit-scrollbar-corner {
  background-color: #ff9900;
}

a{
  overflow: hidden;
}

h1.body-images-2025-text {
  white-space: wrap;
  color: #b7ed885f;
  text-align: center;
  font-size: clamp(1.5rem, 3vw, 3rem);
  font-weight: bold;
  background-image: url(images/1.png);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-clip: text;
  filter: drop-shadow(2px 6px 3px rgba(0, 0, 0, 0.508)) drop-shadow(1px 3px 1.5px rgba(0, 0, 0, 0.508));
  background-clip: text;
}

header.header {
  b {
    a {
      text-decoration: none;
    }
    color: #ffffff;
  }
}

introduce.body-images-introduce {
  display: block;
  width: 100%;
  text-align: center;

  c,
  d {
    font-size: 30%;
    color: #b7ed885f;
    background-image: url(images/1.png);
    background-clip: text;
    /* filter: drop-shadow(2px 6px 3px rgba(0, 0, 0, 0.508))
      drop-shadow(1px 3px 1.5px rgba(0, 0, 0, 0.508));
    -webkit-background-clip: text; */
  }
}

/* The code is redundant, just to make them look more */
.body-images-introduce-introduce {
  position: absolute;
  left: 50vw;
  font-size: 40%;
  animation: 1s ease-in-out 1s infinite alternate moveOn;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: url(images/1.png);
  transform: rotate(-30deg);
}

@keyframes moveOn {
  from {
    font-size: 40%;
  }

  to {
    font-size: 50%;
  }
}

.header-icons{
  block-size: 75%;
  margin: 6px;
}

#header-menu-icons{
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: x-large;
}