div.body-images-2025-text{
    color: #b7ed885f;
    text-align: center;
    font-size: 600%;
    font-weight: bold;
}

header.header{
    /* padding: 0px 128px 0px 128px; */
    b{
        a{
            text-decoration: none;
        }
        padding: 6px 6px;
        color: #ffffff;
        font-size: 200%;
    }
}