body {
  font-size: larger;
  height: 100%;
  color: #ffffff;
  display: inline-block;
  margin-left: 24px;
  font-family: "Cascadia Code", "黑体";
}

body > div {
  display: inline-block;
}

body > div > h1 {
  display: inline-block;
  color: #0091ff;
}

body > div > hr {
  height: 4px;
  border: none;
  background: #b7ed88;
}

body > div > blockquote {
  border: 0px;
  border-left: 4px;
  border-color: #0091ff;
  border-style: solid;
  background-color: #172027;
  color: #b7ed88;
}
