body {
  width: 100%;
  text-rendering: optimizeLegibility;
  height: 100%;
  color: #0091ff;
  display: inline-block;
  margin: 0;
  font-family: "Cascadia Code", "";
  white-space: normal;
}

body > div {
  margin: 24px;
}

body>div>h1,
h2,
h3,
h4,
h5,
h6 {
  /* display: inline-block; */
  color: #0091ff;
  /* -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; */
}

img {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: pixelated;
}

body>div>hr {
  height: 4px;
  border: none;
  background: #6abd66;
}

body>div>blockquote {
  margin-left: 20px;
  margin-right: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border: 0px;
  border-left: 4px;
  border-color: #0091ff;
  border-style: solid;
  background-color: #172027;
  color: #6abd66;
}

@keyframes hint_0 {
  0% {
    background-color: #6abd66;
  }

  100% {
    background-color: #6abd6600;
  }
}