::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  border: 6px solid rgba(255, 255, 255, 0);
  box-shadow: 16px 16px 0 #6abd66 inset;
}

::-webkit-scrollbar-thumb:hover {
  box-shadow: 16px 16px 0 #deac47 inset;
}

/* ::-webkit-scrollbar-track {
  background-color: #27353e4e;
} */

::-webkit-scrollbar-corner {
  background-color: #27353e;
}

body {
  display: flex;
  background-attachment: fixed;
  flex-direction:column;
  scroll-snap-type: x mandatory;
  overflow: scroll;
  line-height: 32px;
  width: 100%;
  text-rendering: optimizeLegibility;
  height: 100%;
  color: #0091ff;
  margin: 0;
  font-family: "Cascadia Code", "" !important;
  white-space: normal;
  background-color: #172027;
  background-image: linear-gradient(90deg, rgba(100, 36, 135, 0.05) 0px, rgb(68, 58, 195, 0.05) 35%, rgb(1, 116, 183, 0.05) 68%, rgb(4, 152, 142, 0.05) 100%);
}

body>div {
  scroll-snap-align: start;
  align-self:center;
  padding: 24px;
  margin: 24px;
}

body>div>h1,
h2,
h3,
h4,
h5,
h6 {
  /* display: inline-block; */
  color: #0091ff;
  /* -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; */
}

img {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: pixelated;
}

body>div>hr {
  height: 4px;
  border: none;
  background: #6abd66;
}

body>div>blockquote {
  margin-left: 20px;
  margin-right: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border: 0px;
  border-left: 4px;
  border-color: #0091ff;
  border-style: solid;
  background-color: #172027;
  color: #6abd66;
}

code {
  font-family: 'Cascadia Code';
  background-color: #172027;
}

@keyframes hint_0 {
  0% {
    background-color: #6abd66;
  }

  100% {
    background-color: #6abd6600;
  }
}

/* a comment content */
.giscus {
  margin: 0;
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding: 0;
  align-self: center;
}

/* html url css */
#html_url_0{
  align-self:center;
  width: max-content;
  font-style: italic;
  font-size: small;
  opacity: 0.5;
  margin: 2vh;
}

/* arrangement */
#wrap_0{
  order: 1;
}

#bottom_0{
  order: 2;
}

.giscus{
  order: 3;
}