fuckyou{
    width: 0;
}
fuckyou{
    width: 0;
}fuckyou{
    width: 0;
}fuckyou{
    width: 0;
}fuckyou{
    width: 0;
}fuckyou{
    width: 0;
}fuckyou{
    width: 0;
}fuckyou{
    width: 0;
}fuckyou{
    width: 0;
}fuckyou{
    width: 0;
}fuckyou{
    width: 0;
}fuckyou{
    width: 0;
}fuckyou{
    width: 0;
}fuckyou{
    width: 0;
}fuckyou{
    width: 0;
}fuckyou{
    width: 0;
}fuckyou{
    width: 0;
}fuckyou{
    width: 0;
}