::-webkit-scrollbar {
  width: 20px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  border: 6px solid rgba(255, 255, 255, 0);
  box-shadow: 8px 0 0 #6abd66 inset;
}

::-webkit-scrollbar-thumb:hover {
  box-shadow: 8px 0 0 #deac47 inset;
}

.body-sidebar-icons {
  margin: 4px;
  width: 32px;
  height: 32px;
}

.body-sidebar-header > div {
  margin: 8px;
  white-space: nowrap;
  overflow: hidden;
}
