::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  border: 6px solid rgba(255, 255, 255, 0);
  box-shadow: 16px 16px 0 #6abd66 inset;
}

::-webkit-scrollbar-thumb:hover {
  box-shadow: 16px 16px 0 #deac47 inset;
}

::-webkit-scrollbar-corner {
  background-color: #212a3200;
}

@media screen and (max-width: 1000px) {
#body-sidebar-1-id {
display: none;
}
}

.body-sidebar-icons {
  margin: 4px;
  width: 24px;
  height: 24px;
}

.body-sidebar-submenu {
  width: 20vw;
  top: 48px;
  margin-top: 32px;
  margin-left: 24px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-style: solid;
  border-width: 1px;
  border-color: #212a32;
  padding-left: 32px;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  background-color: #1720279c;
  display: none;
  animation: fadeIn_2 0.5s cubic-bezier(0, 0.6, 0, 1);

  b {
    divv {
      margin: 3px;
    }

    display: grid;
    grid-template-columns: 32px auto;
    color: #6abd66;
    text-decoration: none;
  }
}

@keyframes fadeIn_2 {
  from {
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
    top: 28px;
  }

  to {
    top: 48px;
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(5px);
  }
}

.body-sidebar-header>divv {
  margin: 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#body-sidebar-icons-3 {
  transform: rotate(90deg);
  margin-left: 16px;
}

.body-sidebar-lis-m-text {
  user-select: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: small;
  margin-left: 16px;
  cursor: pointer;
}

.body-sidebar-lis-o {
  user-select: none;
  overflow: scroll;
  margin: 0;
  /* transition: transform 0.4s cubic-bezier(0.54, 0.54, 0.07, 1.24), opacity 0.4s; */
}

/* @keyframes moveOn {
  from {
    margin-top: 0px;
    opacity: 0;
  }
  to {
    margin-top: 4px;
    opacity: 1;
  }
} */
.body-sidebar-lis {
  width: 100%;
  background-color: #00a6ff00;
  color: #b7ed88;
  cursor: pointer;
  /* animation: moveOn 0.5s cubic-bezier(0, 0.6, 0, 1); */
  border-style: solid;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-color: #212a32;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

[class="body-sidebar-lis index:0"] {
  /* padding-left: 32px; */
  padding-left: 36px;
  /* margin-left: 36px; */
  margin-top: 4px;
  margin-bottom: 4px;
}

.body-sidebar-contents {
  cursor: pointer;
  border-style: solid;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-color: #212a32;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 4px;
  margin-bottom: 4px;

  div,
  dir {
    border-style: solid;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-color: #212a32;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* animation: moveOn 0.5s cubic-bezier(0, 0.6, 0, 1); */
    margin-top: 4px;
    padding-left: 8px;
  }

  div {
    color: #ff32d6;
  }
}

[class="body-sidebar-contents index:0"] {
  padding-left: 48px;
}

.body-viewer-iframe {
  box-shadow: 1px 1px 20px 0px #0000004e;
  border: none;
  position: fixed;
  width: 60vw;
}

.body-sidebar-lis:hover {
  border-color: #6abd66;
  /* background-color: #00a6ff5a; */
}

.body-sidebar-lis-contexts:hover {
  border-color: #6abd66;
}

.body-sidebar-title {
  display: grid;
  grid-template-columns: 32px auto;
  align-items: center;
}

.body-viewer-switch {
  cursor: pointer;
  position: fixed;
  width: 16px;
  height: 16px;
  background-color: #0091ff;
}

.body-rightsidebar {
  user-select: none;
  height: 24px;
  cursor: crosshair;
  background-color: #1720279c;
  overflow: hidden;
  white-space: nowrap;
  backdrop-filter: blur(5px);
  padding: 20px;
  font-weight: bold;
  color: #0091ff;
  position: fixed;

  div {
    font-size: medium;
  }

  mark {
    cursor: pointer;
    background-color: transparent;
    color: #b7ed88;
    margin-left: 1vw;
  }
}

.body-rightsidebar>div>ul {
  color: #0091ff95;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: square;

  li {
    text-overflow: ellipsis;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
  }

  li:hover {
    color: #ffffff;
    background-color: #0091ff63;
  }
}

.body-rightsidebar>div>ul>li::marker {
  font-size: larger;
  color: #ff32d6;
}

.body-viewer-scrollbar {
  animation: loop_0 5s infinite;
  position: fixed;
  width: 64px;
  height: 8px;
  background-color: #6abd66;
}

@keyframes loop_0 {
  0% {
    margin-left: 0;
    background-color: #6abd66;
  }

  50% {
    margin-left: 50vw;
    background-color: #deac47;
  }

  100% {
    margin-left: 0;
    background-color: #6abd66;
  }
}

info {
  margin: 4px;
  color: #6abd6680;
}