::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  border: 6px solid rgba(255, 255, 255, 0);
  box-shadow: 16px 16px 0 #6abd66 inset;
}

::-webkit-scrollbar-thumb:hover {
  box-shadow: 16px 16px 0 #deac47 inset;
}

::-webkit-scrollbar-corner {
  background-color: #ff9900;
}

/* 隐藏滚动条样式 */
.body-sidebar-lis-o.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html {
  scroll-padding-top: 6rem; /* 导航栏高度调整 */
}

@media print {
  body * {
    visibility: hidden;
  }

  #body-viewer-2 * {
    visibility: visible;
  }

  #body-viewer-2 {
    position: absolute;
    left: 0;
    top: -5rem;
  }
}

/* a标签初始化 */
a {
  max-inline-size: fit-content;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* text标签初始化 */
text {
  font-family: 'Cascadia Code';
}

.header {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  margin: 0;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 64px auto 96px;
  background-color: #212a32b1;
  background-image: linear-gradient(175deg, #00a6ff2c, #212a32b1);
  position: fixed;
  top: 0;
  width: 100%;
  height: 3rem;
}

img {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: pixelated;
  max-width: 100%;
}

.header-icons {
  user-select: none;
  margin: 6px;
  block-size: 75%;
}

.body-sidebar-1 {
  user-select: none;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: #1720279c;
  width: 20vw;
  color: #6abd66;
  position: fixed;
  top: 3rem;
  left: 0;
}

.body-sidebar-header {
  display: grid;
  grid-template-columns: 32px 32px auto 32px 64px;
  align-items: center;
}

.body-breadcrumb {
  @media screen and (max-width: 1000px) {
    left: 0;
    width: 100vw;
  }

  @media screen and (min-width: 1000px) {
    left: 20vw;
    width: 80vw;
  }

  white-space: nowrap;
  /* this will change in \docs\docs_m_updateWindow.js*/
  align-content: center;
  font-size: clamp(1rem, 1.5vh, 1.5rem);
  backdrop-filter: blur(5px);
  background-color: #1720279c;
  height: 2rem;
  color: #6abd66;
  position: fixed;
  top: 3rem;
  overflow-x: scroll;

}

.body-breadcrumb::-webkit-scrollbar {
  display: none;
}

#body-viewer-1 {
  display: none;
  height: 100vh;
  width: 60vw;
  position: fixed;
  top: 5rem;
}

#body-viewer-2 {
  box-shadow: 0 0 10px #00000045;
  display: block;
  position: absolute;

  @media screen and (max-width: 1000px) {
    left: 0;
    width: 100%;
  }

  @media screen and (min-width: 1000px) {
    left: 20vw;
  }

  /* height: 100vh; */

  #body_0 {
    padding-top: 5rem;
    height: -webkit-fill-available;
    font-size: clamp(1rem, 1.4vh, 5rem);
    order: 1;
    overflow: visible;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    justify-items: center;

    #wrap_0 {
      overflow-wrap: anywhere;
      width: 90%;

      img {
        box-shadow: 0 0 10px #00000045;
      }
    }
  }

  table,
  th,
  td {
    background-color: #172027;
    color: #b7ed88;
  }

  table {
    width: 100%;
    padding: 1rem;
    align-self: center;
  }

  th {
    border-block-start: 2px solid #0091ff30;
  }

  th:hover,
  td:hover {
    background-color: #0091ff30;
  }

  a:link {
    color: #ff00f2;
  }


  /* a comment content */
  .giscus {
    background-color: #172027;
    padding: 5%;
    width: 90%;
  }

  /* html url css */
  #html_url_0 {
    font-size: clamp(1rem, 1.2vh, 5rem);
    font-style: italic;
    opacity: 0.5;
    margin: 1rem;
    display: block;
  }

  #timeData_UTC {
    font-size: clamp(1rem, 1.2vh, 5rem);
    font-style: italic;
    padding: 1rem;
  }

  #type_data_0 {
    font-size: clamp(1rem, 1.2vh, 5rem);
    font-style: italic;
    padding: 1rem;
  }

  #tag_0 {
    padding-top: 6rem;
    width: 90vw;
    scale: 0.8;
  }

  #tag_1 {
    color: #ffffff;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100vw;
    font-style: italic;
    font-size: clamp(1rem, 1.2vh, 5rem);
    scale: 0.8;
  }

  #img_0 {
    align-self: center
  }

  /* arrangement */

  #tag_0 {
    order: 2;
  }

  #tag_1 {
    order: 3;
  }

  .giscus {
    font-size: clamp(1rem, 1.2vh, 5rem);
    order: 4;
  }
}

body {
  @font-face {
    font-family: 'Cascadia Code';
    src: url('/fonts/CascadiaCode.ttf') format('truetype');
  }

  -webkit-tap-highlight-color: transparent;
  font-family: 'Cascadia Code';
  overflow: scroll;
  overflow-x: hidden;
  background-color: #172027;
  margin: 0;
}

#body-sidebar-icons-1 {
  cursor: pointer;
  background-size: 100%;
  background-image: url(/images/svgicons/right-arrow.svg);
  transition: transform 0.4s cubic-bezier(0.54, 0.54, 0.07, 1.24), opacity 0.4s;
}

#body-sidebar-icons-2 {
  background-size: 100%;
  background-image: url(/images/svgicons/folder.svg);
}

#body-sidebar-icons-3 {
  cursor: pointer;
  background-size: 100%;
  background-image: url(/images/svgicons/right-arrow.svg);
  transition: transform 0.4s cubic-bezier(0.54, 0.54, 0.07, 1.24), opacity 0.4s;
}

.header-m-icon {
  @media screen and (max-width: 1000px) {
    display: block;
  }

  @media screen and (min-width: 1000px) {
    display: none;
  }

  scale: 0.8;
  margin-right: auto;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  background-size: 100%;
  background-image: url(/images/svgicons/menu-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

#header-m-icon_1 {
  scale: 0.6;

  @media screen and (max-width: 1000px) {
    display: none;
  }

  @media screen and (min-width: 1000px) {
    display: block;
  }
}

#header-m-icon-container {
  display: inline-flex;
}

.header-icon_sidebar {
  @media screen and (max-width: 1000px) {
    display: none;
  }

  @media screen and (min-width: 1000px) {
    display: block;
  }
}

#header-icon_3 {
  filter: drop-shadow(2px 4px 6px #00000060);
  scale: 0.7;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  background-size: 100%;
  background-image: url(/images/svgicons/drag-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

#header-icon_2 {
  scale: 0.8;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  background-size: 100%;
  background-image: url(/images/svgicons/drag-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.body-sidebar-icons {
  margin: 4px;
  width: 24px;
  height: 24px;
}

.body-sidebar-submenu {
  z-index: 1;
  user-select: none;
  width: 40vw;
  top: 48px;
  margin-top: 32px;
  margin-left: 24px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-style: solid;
  border-width: 1px;
  border-color: #212a32;
  padding-left: 32px;
  overflow: hidden;
  white-space: nowrap;
  position: fixed;
  background-color: #1720279c;
  display: none;
  animation: fadeIn_2 0.5s cubic-bezier(0, 0.6, 0, 1);

  b {
    divv {
      margin: 3px;
    }

    display: grid;
    grid-template-columns: 32px auto;
    color: #6abd66;
    text-decoration: none;
  }
}

@keyframes fadeIn_2 {
  from {
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
    top: 28px;
  }

  to {
    top: 48px;
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(5px);
  }
}

.body-sidebar-header>divv {
  margin: 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#body-sidebar-icons-3 {
  transform: rotate(90deg);
  margin-left: 16px;
}

.body-sidebar-lis-m-text {
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: clamp(0.8rem, 0.6vw, 2rem);
  margin-left: 16px;
  cursor: pointer;
}

.body-sidebar-lis-o {
  -webkit-user-select: none;
  user-select: none;
  overflow: scroll;
  margin: 0;
  /* transition: transform 0.4s cubic-bezier(0.54, 0.54, 0.07, 1.24), opacity 0.4s; */
}

/* @keyframes moveOn {
  from {
    margin-top: 0px;
    opacity: 0;
  }
  to {
    margin-top: 4px;
    opacity: 1;
  }
} */
.body-sidebar-lis {
  background-color: #00a6ff00;
  color: #b7ed88;
  cursor: pointer;
  /* animation: moveOn 0.5s cubic-bezier(0, 0.6, 0, 1); */
  border-style: solid;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-color: #212a32;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

[class="body-sidebar-lis index:0"] {
  /* padding-left: 32px; */
  padding-left: 36px;
  /* margin-left: 36px; */
  margin-top: 4px;
  margin-bottom: 4px;
}

.body-sidebar-contents {
  cursor: pointer;
  border-style: solid;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-color: #212a32;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 4px;
  margin-bottom: 4px;

  a,
  dir {

    display: block;
    border-style: solid;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-color: #212a32;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* animation: moveOn 0.5s cubic-bezier(0, 0.6, 0, 1); */
    margin-top: 4px;
    padding-left: 8px;
  }

  a {
    color: #ff32d6;
  }
}

[class="body-sidebar-contents index:0"] {
  padding-left: 48px;
}

.body-viewer-iframe {
  box-shadow: 1px 1px 20px 0px #0000004e;
  border: none;
  position: fixed;
  width: 60vw;
}

.body-sidebar-lis:hover {
  border-color: #6abd66;
  /* background-color: #00a6ff5a; */
}

.body-sidebar-lis-contexts:hover {
  border-color: #6abd66;
}

.body-sidebar-lis-contexts {
  text-decoration: none;
}

.body-sidebar-title {
  display: grid;
  grid-template-columns: 32px auto;
  align-items: center;
}

.body-viewer-switch {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  background-color: #0091ff;
}

#inthisarticle_0 {
  user-select: none;
  margin-left: auto;
  color: #ff00f2;
  font-weight: bolder;
  align-self: center;
}

#inthisarticle_1 {
  filter: drop-shadow(2px 4px 6px #00000060);
  margin-left: auto;
  scale: 0.7;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  background-size: 100%;
  background-image: url(/images/svgicons/receipt-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.body-rightsidebar {
  @media screen and (max-width: 1000px) {
    width: 100vw;
  }

  @media screen and (min-width: 1000px) {
    left: 20vw;
    width: 80vw;
  }

  overflow: scroll;
  height: 35%;
  opacity: 0;
  pointer-events: none;
  align-content: center;
  top: 5rem;
  -webkit-user-select: none;
  user-select: none;
  cursor: crosshair;
  background-color: #1720279c;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 2rem;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 20px;
  font-weight: bold;
  position: fixed;

  div {
    font-size: clamp(1rem, 1.5vh, 5rem);
  }
}

.body-rightsidebar>div>ul {
  li {
    text-overflow: ellipsis;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
  }

  li:hover {
    color: #ffffff;
    background-color: #0091ff63;
  }
}

.body-rightsidebar>div>ul>li::marker {
  font-size: clamp(1rem, 1.2vw, 2rem);
  color: #b7ed88;
}

.body-viewer-scrollbar {
  animation: loop_0 5s infinite;
  position: fixed;
  width: 64px;
  height: 8px;
  background-color: #6abd66;
}

@keyframes loop_0 {
  0% {
    margin-left: 0;
    background-color: #6abd66;
  }

  50% {
    margin-left: 50vw;
    background-color: #deac47;
  }

  100% {
    margin-left: 0;
    background-color: #6abd66;
  }
}

#body_0 {
  background-attachment: fixed;
  /* overflow: scroll; */
  line-height: clamp(1.5rem, 3vh, 5rem);
  width: 100%;
  text-rendering: optimizeLegibility;
  height: 100%;
  color: #0091ff;
  margin: 0;
  font-family: "Cascadia Code";
  white-space: normal;
  background-color: #172027;
  background-image: linear-gradient(90deg, rgba(100, 36, 135, 0.05) 0px, rgb(68, 58, 195, 0.05) 35%, rgb(1, 116, 183, 0.05) 68%, rgb(4, 152, 142, 0.05) 100%);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #8400ff;
    text-shadow: #0091ff50 1px 0 8px;
  }

  img {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
  }

  hr {
    height: 4px;
    border: none;
    background: #6abd66;
  }

  blockquote {
    margin-left: 0;
    margin-right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border: 0px;
    border-left: 4px;
    border-color: #0091ff;
    border-style: solid;
    background-color: #172027;
    color: #6abd66;
  }

  pre {
    svgicon {
      filter: drop-shadow(2px 4px 6px #00000025);
      scale: 0.6;
      display: block;
      margin-left: auto;
      height: 3rem;
      width: 3rem;
      cursor: pointer;
      background-size: 100%;
      background-image: url(/images/svgicons/copy-alt-svgrepo-com.svg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    code {
      box-shadow: 0 0 10px #00000045;
    }
  }

  code {
    color: #ff32d6;
    font-family: 'Cascadia Code';
    background-color: #172027;
  }
}

.katex-display {
  overflow-x: scroll;
  overflow-y: hidden;
}

.katex-display::-webkit-scrollbar-corner {
  background-color: transparent;
}

.katex-display::-webkit-scrollbar {
  width: 20px;
  height: 16px;
}

info {
  box-shadow: 0 0 10px #00000045;
  display: block;
  background-image: linear-gradient(45deg, #0091ff40, #a900ff40);
  color: #ffffff;

  p {
    margin: 0;
    padding: 2rem;
    padding-top: 1rem;

    code {
      background-color: #17202770 !important;
    }

    a:visited {
      color: #ffffff !important;
    }
  }

  svgwrap {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  svgicon {
    filter: drop-shadow(2px 4px 6px #00000025);
    margin: 1rem;
    display: block;
    scale: 0.8;
    height: 2rem;
    width: 2rem;
    background-size: 100%;
    background-image: url(/images/svgicons/question-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

warning {
  box-shadow: 0 0 10px #00000045;
  display: block;
  background-image: linear-gradient(45deg, #deac4740, #de474740);
  color: #b7ed88;

  p {
    margin: 0;
    padding: 2rem;
    padding-top: 1rem;

    code {
      background-color: #17202770 !important;
    }

    a:visited {
      color: #b7ed88 !important;
    }
  }

  svgwrap {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  svgicon {
    filter: drop-shadow(2px 4px 6px #00000025);
    margin: 1rem;
    display: block;
    scale: 0.8;
    height: 2rem;
    width: 2rem;
    background-size: 100%;
    background-image: url(/images/svgicons/warning-alt-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.graph_html {
  display: flex;
  justify-content: center;
}

button {
  background: #0091ff;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}