::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  border: 6px solid rgba(255, 255, 255, 0);
  box-shadow: 16px 16px 0 #6abd66 inset;
}

::-webkit-scrollbar-thumb:hover {
  box-shadow: 16px 16px 0 #deac47 inset;
}

::-webkit-scrollbar-track{
  background-color: #27353e4e;
}

::-webkit-scrollbar-corner {
  background-color: #27353e;
}

body{
  background-color: #27353e;
}

body>pre{
  word-wrap: normal !important;
  white-space: pre !important;
  color: #6abd66;
  @font-face {
    font-family: 'Cascadia Code', '黑体';
    src: url('../fonts/CascadiaCode.ttf') format('truetype');
    }
    font-family: 'Cascadia Code', '黑体';
}