::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  border: 6px solid rgba(255, 255, 255, 0);
  box-shadow: 16px 16px 0 #6abd66 inset;
}

::-webkit-scrollbar-thumb:hover {
  box-shadow: 16px 16px 0 #deac47 inset;
}

/* ::-webkit-scrollbar-track {
  background-color: #27353e4e;
} */

::-webkit-scrollbar-corner {
  background-color: #27353e;
}
/* 
body {
  display: flex;
  justify-content: center;
  background-attachment: fixed;
} */

body>pre {
  padding: 0;
  border: 0;
  border-left: 0.5vw;
  border-style: solid;
  border-color: #00a6ff;
  margin-top: 4vw;
  margin-left: 4vw;
  word-wrap: normal !important;
  white-space: pre !important;
  color: #6abd66;
  font-family: 'Cascadia Code' !important;
}

body>pre>code {
  overflow-x: visible !important;
  padding: 0;
  background-color: rgba(100, 36, 135, 0) !important;
  background-image: linear-gradient(160deg, rgba(100, 36, 135, 0) 0px, rgba(67, 58, 195, 0) 35%, rgba(1, 116, 183, 0) 68%, rgba(4, 152, 142, 0) 100%) !important;
  color: rgb(231, 228, 235) !important;
  font-family: 'Cascadia Code', "" !important;
}